<div class="container-fluid">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
    <div>
      <footer><p class="bold-text" style="font-weight: bold;">2023&copy;Noura & Lama</p></footer>
    </div>