<div class="container-fluid container-fluid-custom">
    <h3 style="font-family: 'Times New Roman', Times, serif;">We offer a user-friendly online Notes platform for note-taking.</h3>
    <p style="font-weight: bold;"> Here's what you can expect:</p>
    <ul>
        <li><strong style="font-weight: bold;">Accessibility:</strong> Access notes from any device with an internet connection.</li>
        <li><strong style="font-weight: bold;">Security:</strong> Your notes are private and protected with robust security measures.</li>
        <li><strong style="font-weight: bold;">Search:</strong> Easily find your information.</li>
    </ul>
</div>

