<div class="container-fluid container-fluid-custom py-md-5 mb-5" style="padding-bottom: 100px;">
  <main>

    <div class="row py-md-5 text-center justify-content-center" >

      <div class="col-md-6">
        <img src="../img/icons8-microsoft-onenote (1).svg" alt="Notes Logo" class="logo" style="width: 170px; height: 100px;">
      </div>

      <div class="col-md-12 col-lg-6 mb-6 mb-md-0" >
        <h1 class="display-2 fw-bold mb-4 position-relative home-title" >
          Take note of your ideas as they come to you.
        </h1>
        <p class="fs-4 mb-4">
          Explore Notes: Your effortless, free note-taking website.
        </p>

        <a href="/auth/google" class="btn btn-primary btn-lg">Try Notes, it's FREE!</a>
      </div>
    </div>
  </main>
</div>